## FCSR Fundamentals of Computing Course
### Introduction to Python
1. Operations
1. Variables
1. Conditionals
1. Loops
1. Lists
1. Arrays and Numpy Arrays
1. Simple Plotting

### Learn basic operations in Python

In [ ]:
# Basic Operations in Python

# use the python function 'print' to print the output
print(2 + 2)
print(2 * 2)
print(2 / 2)
print(2 - 2 * 7)  # Order of operations matters
print((2 - 2) * 7)
print(f"remainder of 24/7 is:{24%7}")
print(f"quotient of 24/7 is:{24/7}")

In [ ]:
# Variables and Assignments
a = 2 + 2
print(f'a is: {a}')
a = 20
print(f'modified a is {a}')

In [ ]:
# Conditionals if-else
# Conditional operators are == >= <= && ||
a = -5
if a < 4:
    print(f"{a} is less than 4")
else:
    print(f"{a} is greater than or equal to 4")

In [ ]:
# Conditionals if-elif-else
# Conditional operators are == >= <= and or
## if cash is less than 5 bucks - I cannot buy anything to eat :(
## if cash is greater than equal to 5 and less than 15 bucks - I can buy lunch but not dinner!
## if cash is greater than equal to 15 bucks - I can buy dinner!
cash = 4
if cash < 5:
    print(f"I have {cash} bucks, I cannot buy anything to eat :(")
elif cash >= 5 and cash < 15: 
    print(f"I have {cash} bucks, I can buy lunch but not dinner!")
else:
    print(f"I have {cash} bucks, I can buy dinner!")

### Create a code cell below and write code for the following
1. if grade is less than equal to 50 print I have a grade F
1. if grade is between 50 and less than 70 print I have a grade C
1. if grade is between 70 and less than 90 print I have a grade B
1. if grade is greater than or equal to 90 I have a grade A

### Learn basic Loops in Python

In [ ]:
for idx in range(10):
    print(f"line {idx+1} : hello world")

In [ ]:
# Loops
count = 0  # Initialize the variable "count"

# Add all the numbers 1-10
for ii in range(10):  # note that range(10) = [0, 2, ..., 9]
    count += ii # indicate a code block to loop over by indenting the code lines
                # note increment operator same as count = count + ii
    
print(count)

### Is this correct?? - If not how will you fix it? - write a code cell below

### Learn basic Lists in Python

In [ ]:
# Lists
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist = ["apple", "banana", "cherry", "pear", "mango"]
print(f'now thislist = {thislist}')
print(f'length is: {len(thislist)}')

# get an item from list
first = thislist[0]
print(f'first item is {first}')
print(f'fourth item is {thislist[3]}')

# replace 2nd item
thislist[1] = "kiwi"
print(thislist)

In [ ]:
# looping through a list
# Modify the print statement below to print each item on a line with the item number
# like so ...
#1. Item#1 is apple
#2. Item#2 is kiwi etc.
i = 0
for x in thislist:
    print(x)

In [ ]:
# Lists can have numbers too
x = [1, 2, 3, 4]
print(x)
y = [1, 4, 9, 16]
print(y)

In [ ]:
# A numpy array - A type of array to hold lots of numbers and fast calculations
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

print(arr)

In [ ]:
print(arr[0])
print(f'fourth element is {arr[3]}')

In [ ]:
# array slicing
print(arr[1:4])
print(arr[3:])
print(arr[2:4])

### Can you print a slice of items 3 to 9? below?

### Learn basic Numpy Arrays in Python

In [ ]:
# create arrays of numbers
a1 = np.arange(1,10) # the arange method defines a range of numbers starting at 1 going up to but not including 10
print(a1)
a2 = a1**2
print(a2)
y2 = a1**3
print(y2)

In [ ]:
t1 = np.arange(0.0, 5.0, 0.1) # a range of numbers starting at 0.0 going up to but not including 5.0 in steps of 0.1
print(t1)
l1 = np.linspace(0,10, num=100) ## the linspace method defines the actual number points within the range 0,10 including 10
print(l1)
l2 = l1**2

### Learn basic Plotting in Python

In [ ]:
# let's do some plotting
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [ ]:
# Simple Plotting
print(x)
print(y)

In [ ]:
plt.plot(x,y)

In [ ]:
y2 = np.array([16,4,9,1])
plt.plot(x,y2)

In [ ]:
a = np.arange(1,5)
b = np.array([1, 4, 9, 16])
plt.plot(a, b, 'ro')
#plt.axis([-2, 6, -5, 20])
plt.show()

In [ ]:
# plotting lots of numbers
plt.plot(l1,l2)

In [ ]:
# let's put these 4 plots above in a 4x4 grid
plt.figure()
#plt.plot(t, t, 'r--', t, t**2, 'bs', t, t**3, 'g^', t, 100*np.sin(t), 'b+')

plt.subplot(221)
plt.plot(x, y, 'ro')

plt.subplot(222)
plt.plot(x, y2)

plt.subplot(223)
plt.plot(a, b, 'g^')

plt.subplot(224)
plt.plot(l1, l2, 'k')

In [ ]:
# Put 4 plots in a single figure (1x1 grid)
# evenly sampled time at 200ms intervals
t = np.arange(0., 5., 0.2)

# red dashes, blue squares, green triangles, and blue +
plt.plot(t, t, 'r--', t, t**2, 'bs', t, t**3, 'g^', t, 100*np.sin(t), 'b+')
plt.show()

### Can you put 4 graphs above into a single 4x4 figure? Do it in a code cell below

### See more subplot examples below

In [ ]:
# More Figures and Sub Plots Examples
def f(t):
    return np.exp(-t) * np.cos(2*np.pi*t)

t1 = np.arange(0.0, 5.0, 0.1)
t2 = np.arange(0.0, 5.0, 0.02)

plt.figure()

plt.subplot(311)
plt.plot(t2, np.exp(-t2), 'b--')

plt.subplot(312)
plt.plot(t2, np.cos(2*np.pi*t2), 'r--')

plt.subplot(313)
plt.plot(t1, f(t1), 'bo', t2, f(t2), 'k')

plt.show()